################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/wfKDSSolutions/v17/DocumentLayout.json
/.vs/wfKDSSolutions/v17/.suo
/.vs/wfKDSSolutions/v17/DocumentLayout.backup.json
/WindowsFormsApp2/obj/Debug/MCKDS.csproj.FileListAbsolute.txt
/WindowsFormsApp2/bin/Debug/app.publish/MCKDS.exe
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSBackUpDataSet1.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSBackUpDataSet3.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSDataSet2.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSBackUpDataSet2.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSBackUpDataSet6.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSDataSet.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSDataSet1.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSDataSet3.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSDataSetCustOrders.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSDataSetOrder.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/MCKDSOrderDataCompleted1.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WindowsFormsApp2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
